body {
    margin: 0;
    background-color: #121314;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

#status {
    width: 320px;
    margin: 30px 20px;
    text-align: center;
}

#status-line1 {
    font-size: 20px;
}

#status-line2 {
    font-size: 12px;
    color: #88898c;
}

#spotify {
    display: none;
    background-color: #648f00;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

#spotify a,
#spotify a:visited,
#spotify a:active {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}